# Dongle 

if SHIELD_PROSPECTOR_DONGLE || SHIELD_PROSPECTOR_CENTRAL

config ZMK_KEYBOARD_NAME
    default "Prospector"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PPROSPECTOR_DONGLE || SHIELD_PROSPECTOR_CENTRAL

config ZMK_SPLIT
    default y

endif